@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before,*::after{
    font-family: 'jost', sans-serif;
}

.oval{
    background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
    mix-blend-mode: normal;
    opacity: 0.31;
    transform: matrix(0, -1, -1, 0, 0, 0);
}

.passionate-t{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.resourceful-t{
    transform: matrix(0, 1, 1, 0, 0, 0);
}

.friendly-t{
    transform: matrix(0, -1, -1, 0, 0, 0);
}

.about-hero-small{
    background: url('./assets/about/mobile/image-about-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about-hero-medium{
    background: url('./assets/about/tablet/image-about-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about-hero-large{
    background: url('./assets/about/desktop/image-about-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.canada-t{
    transform: matrix(0, -1, -1, 0, 0, 0);
}

.australia-t{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.uk-t{
    transform: matrix(0, 1, 1, 0, 0, 0);
}